root: {
  --color-primary: brown;
  --color-secondary: brown;
  --color-tertiary: white;
  --color-quaternary: golden;
  --color-senary: grey;

}
.menuCategory {
  display: flex;
}


body {
  background-color: blanchedalmond;
}
