:root {
  --color-primary: white;
  --color-secondary: wheat;
  --color-tertiary: white;
  --color-quaternary: golden;
  --color-quinary: grey;

  --gradient: linear-gradient(var(--color-primary), var(--color-secondary));
}

.menuCategory {
  display: flex;
}


body {
}
