:root {
  --color-primary: #f966;
  --color-secondary: #fff9;
  --color-tertiary:  wheat;
  --color-quaternary: #fff0;
  --color-quinary: aqua;

  --gradient: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  --radial: radial-gradient(var(--color-secondary), var(--color-quaternary))
}

.frosted {
  
}
body {
}
